*.iml
*.apk
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/valley/DValley-release-1.0.apk
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.properties
/gradle/
*/build
/RLibrary2
/RLibrary